* {
  margin: 0px;
  padding: 0px;
}

html {
    font-size: 16px;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.board_wrap {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;	
	width: 1300px;
}

.board_header > div > a {
  display: inline-block;
  margin-bottom: 15px;	
  width: 150px;
  height: 20px;
  border: 1px solid black;
  background-color: #eeeeee;
}

.board_header > div {
  display: inline-block;
}

.board_header > div > div {
  display: inline-block;
  border: 1px solid black;
  background-color: #eeeeee;
  padding: 0 10px;
}

.board_banner{
	height: 350px;
	margin-top: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 5 0 5 5px;
}

.container > div > div > a {
  border: 1px solid black;
  margin-right: 5px;
  margin-top: 5px;
  padding: 5px;
}

.row {
  display: flex;
}

.item { 
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}

.item_category {
  width: 80px;
  text-align: center;
}

.item_title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.container_wrap {
  background-color: #eeeeee;
  margin-top: 15px;
  border: 1px solid black;
  padding-top: 10px;
}

.container_title > a {
  border: 1px solid black;
  font-size: 1.5em;
  padding: 5px 15px;
}

.container_title > a:first-child {
  margin: 0 0 4 4px;
}

.board_name {
  text-align: left;
  padding: 10px 10px;
  font-size: 3em;
}

.board_category > a {
  border: 1px solid black;
  margin-top: 5px;
  background-color: #eeeeee;
  display: inline-block;
  width: 85px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;
  padding: 5px;
}

a.selected {
  background-color: black;
  color: white;
}

.board_list {
  margin: 5px;
  width: 100%;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  margin-left: 0px;
}

.board_list > div {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 9px;
}

.board_list > div:last-child {
    border-bottom: 1px solid black;
}

.board_list > div > div {
  display: inline-block;
}

.board_list .seq, 
.board_list .category,
.board_list .userid,
.board_list .date,
.board_list .view,
.board_list .like {
  width: 9%;
}

.board_list .title {
  width: 40%;
}

.board_list > .top {
  background: #eeeeee;
  font-weight: 700;
  margin-bottom: 5px;
  border-bottom: 1px solid black;  
}

.board_write > a {
  border: 1px solid black;
  float: right;
  padding: 0px 20px;
  background: #eeeeee;
}

.board_page {
  text-align: center;
  font-size: 0;
  margin-top: 30px;
}

.board_page a {
  display: inline-block;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  vertical-align: middle;
  border: 1px solid #111;
  border-left: 0;
  line-height: 100%;
  text-decoration: none;
  color: inherit;
  background-color: #eeeeee;
}

.board_page a.bt {
  font-size: 20px;
  padding: 5px;
}

.board_page a.num {
  font-size: 20px;
  padding: 7px;
}

.board_page a:first-child {
  border-left: 1px solid #111;
}

.board_page a.on {
  background: #000000; 
  color: white;
}

.search {
  margin-top: 20px;
  text-align: center;
}

.search > select{
  font-size: 1em;
  padding: 3px 15px;
}

.search > input{
	font-size: 1em;
	padding:3px 15px;
}

.search > a {
  border: 1px solid black;
  padding: 3px 15px;
  font-size: 1em;
  background-color: #eeeeee;
}

/*
.search_type {
  text-align: center;
}
*/

.board_title {
  border: 1px solid black;
  margin-top: 5px;
  text-align: center;
  padding: 2px;
  font-size: 1.5em;
  background-color: #eeeeee;
}

.board_info {
  border: 1px solid black;
  margin-top: 5px;
  text-align: right;
  padding: 2px;
  background-color: #eeeeee;
}

.board_info > div {
  display: inline-block;
  padding: 1px 3px 1px 1px;
  position: relative;
}

.board_info > div::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -2px;
  background-color: black;
}

.board_info > div:last-child::after {
  display: none;
}

.board_content {
  border: 1px solid black;
  margin-top: 5px;
  text-align: left;
  padding: 5px;
  background-color: #eeeeee;  
}

.board_edit {
  margin-top: 10px;
}

.board_edit > div > a {
  border: 1px solid black;
  padding: 0px 10px;
  background-color: #eeeeee;    
}

.board_like {
  text-align: center;
  margin-top: 10px;
}

.board_like > a {
  border: 1px solid black;
  padding: 0px 10px;
  background-color: #eeeeee;      
}

.board_like > a.active {
  background-color: rgb(255, 100, 100);
}

.comment_list_tag > a {
  border: 1px solid black;
  padding: 0px 15px;
  background-color: #eeeeee;
  margin-top: 5px;
}

.comment_list > div,
.comment_userid, 
.comment_date, 
.comment_like,
.comment_delete,
.comment_update,
.comment_content {
  border: 1px solid black;
  background-color: #eeeeee;
}

.comment_list > div {
  padding: 5px;
  margin-top: 7px;
}

.comment_userid, 
.comment_date, 
.comment_like,
.comment_delete,
.comment_update {
  padding: 0px 10px;
}

.comment_delete,
.comment_update {
  margin-right: 3px;
}

.comment_content {
  padding: 0px 5px;
  margin-top: 5px;
}

.comment_userid, 
.comment_date, 
.comment_like {
  display: inline-block;
}

.comment_like.active {
  background-color: rgb(255, 100, 100);
}

.comment_list > .best_comment,
.best_comment > div,
.best_comment > div > a,
.best_comment > div > div > a {
  background-color: pink;
}

.comment_list > div > div > div,
.comment_list > div > div > a {
  display: inline-block;
}

.comment_list > div > div > a {
  float: right;
}

.comment_input {
  display: inline-block;
  width: 100%;
  font-size: 1em;
}

.comment_input > input,
.comment_input > a {
  margin-top: 10px;
  box-sizing: border-box;
  width: calc(100% - 70px); 
  font-size: 1em;
}

.comment_input > a {
  border: 1px solid black;
  padding: 2px 15px;
  background-color: #eeeeee;
}

.comment_input > input {
  padding: 2px 5px;
}

.write_header {
  border: 1px solid black;
  font-size: 20px;
  background-color: #eeeeee;
  margin-top: 5px;
  text-align: center;
  padding: 10px;
}

.category_type {
  margin-right: 10px;
  width: 70px;
  height: 30px;
  font-size: 20px;
}

.write_title {
  padding-left: 5px;
  font-size: 20px;
  width: 600px;
  height: 30px;
}

.write_content {
  margin-top: 5px;
  width: 100%;
  height: 40%;
  text-align: left;
  padding: 5px;
  font-size: 15px;
}

.write_button {
  margin-top: 5px;
}

.write_button > a {
  float: right;
  border: 1px solid black;
  font-size: 11px;
  background-color: #eeeeee;
  text-align: center;
  width: 60px;
  margin-right: 5px;
  padding: 10px;
  font-size: 15px;
}

.write_button > a:first-child {
  margin-right: 0px;
}

body {
    margin: 0;
    padding: 0;
}

.user_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.user_info_wrap {
  text-align: center;
    width: 350px;
    padding: 20px;
}

.user_header {
  display: inline-block;
  width: 340px;
  height: 50px;
  border: 1px solid black;
  background-color: #eeeeee;
  font-size: 2em;
  text-align: center;
}

.user_info_wrap > div > a,
.user_info_wrap > div > input {
  background-color: #eeeeee;
}

.user_info_title >a {
  display: inline-block;
  border: 1px solid black;
  width: 340px;
  font-size: 2.5em;
  padding: 5px 0px;
  margin-top: 5px;
}


.user_info > a,
.user_info > input {
  display: inline-block;  
  border: 1px solid black;
  height: 20px;
  width: 265px;
  vertical-align: middle;
  margin-top: 5px;
  padding: 5px 0px;
  font-size: 1em;
}

.user_info > a {
  width: 70px;
}

.user_info > input {
  padding-left: 5px;
  height: 32px;
}

.user_info_pw > a,
.user_info_pw > input {
  display: inline-block;  
  border: 1px solid black;
  height: 20px;
  width: 235px;
  vertical-align: middle;
  margin-top: 5px;
  padding: 5px 0px;
  font-size: 1em;
}

.user_info_pw > a {
  width: 100px;
}

.user_info_pw > input {
  padding-left: 5px;
  height: 32px;
}

.user_info > div {
  color: red;
  font-size: 1em;
}

@media only screen and (max-width: 600px) {
    .user_info_wrap {
        width: 90%;
    }
}

.mypage {  
  text-align: left;
  padding: 10px 10px;
  font-size: 3em;
  margin-bottom: -5px;
}

.mypage_button {
  margin-top: 5px;
  font-size: 1em;
}

.mypage_button > a {
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  background-color: #eeeeee;
  margin-top: 5px;
  width: 85px;
  vertical-align: middle;
  font-size: 1.2em;
  padding: 5px;
}

.mypage_button > a:first-child {
  margin-left: 0px;  
}

.mypage_comment_list {
  margin: 5px;
  width: 100%;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  margin-left: 0px;
}

.mypage_comment_list > div {
  border-top: 1px solid #111;
  border-right: 1px solid #111;
  border-left: 1px solid #111;
  padding: 9px;
}

.mypage_comment_list > div:last-child {
  border-bottom: 1px solid #111;
}

.mypage_comment_list > div > div {
  display: inline-block;
}

.mypage_comment_list .seq, 
.mypage_comment_list .userid,
.mypage_comment_list .date,
.mypage_comment_list .like {
  width: 10%;
}

.mypage_comment_list .title {
  width: 50%;
}

.mypage_comment_list > .top {
  background: #eeeeee;
  font-weight: 900;
  margin-bottom: 5px;
  border-bottom: 1px solid #111;
}

.user_info_title{
	font-size: 0.7em;
}

.my_info_wrap {
  text-align: center;
  margin-top: 5px;
  padding-top: 50px;
}

.my_info_wrap > div > a,
.my_info_wrap > div > input {
  background-color: #eeeeee;
}

.newPwErrMsg {
  font-size: 1em;
  color: red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #ffffff;
  margin: 10% auto;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 300px;
  max-width: 80%;
}

.modalMessage {
  color: red;
  font-size: 14px;
}

.confirmBtn,
.cancelBtn {
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.confirmBtn:hover,
.cancelBtn:hover {
  background-color: #ddd;
}

.modal_id,
.modal_pw_label,
.modal_pw_input {
  font-size: 16px;
  margin-bottom: 10px;
}

.modal_pw_input {
  padding: 8px;
  border: 1px solid #ccc;
  width: 70%;
  max-width: calc(100% - 16px);
  box-sizing: border-box;
  height: 30px;
}

.user_info_warning {
  color: red;
  border: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #eeeeee;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

#user_info_title_exit {
  width: 420px;
}

#modalValue {
  display: none;
  
  

  
}